* {
  border: 1px solid black;
}

h1, h2, p, ul, li {
  font-family: "Arial", Verdana, sans-serif;
}

.hero {

}

.hi {
  font-size: 300%;
  float: left;
  margin-top: 200px;
}

img {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 25%
}
